.bg-topo{
    background-color: #34495e;
}
.bg-servicos{
    background: linear-gradient(131.26deg, #312b45 30%, #ff3859 100%);
}
.bg-parallax{
    background: url(/imagens/bg.jpg) fixed;
    position: relative;
}
.bg-footer-start{
    background-color: rgb(51, 51, 51);
    color: #ddd;
}
.bg-card{
    background-color:  rgb(109, 109, 109);
}
.bg-card i{
    color: yellow;
}
.bg-footer-end{
    background-color: rgb(109, 109, 109);
    color: #ddd;
}
.icons i:hover{
    color: rgb(6, 241, 190);
}
.btn-orcamento{
    border: 2px solid rgb(219, 217, 217);
    background: none;
    color:  rgb(219, 217, 217);
    position: relative;
    padding: 5px;
    height: 100%;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
}
.btn-orcamento:hover{
    background-color:  rgb(219, 217, 217);
    color: #34495e;
    transition: all 0.50s ease-in-out;
    -webkit-transition: all 0.50s ease-in-out;
    -moz-transition: all 0.50s ease-in-out;
    outline: none;
    text-decoration: none;
}
.left:hover, .right:hover {
    background-color: #ddd;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid rgb(49, 49, 49);
    transition: all 0.5s ease-in-out;
}

/*footer*/
.bg-footer-start ul{
    padding: 0;
}
.bg-footer-start ul li{
    list-style: none;
}
.bg-footer-start ul li a{
    color: rgb(196, 196, 196);
    text-decoration: none;
}
.bg-footer-start ul li a:hover{
    color: rgb(255, 254, 254);
}